/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background: grey;
  height: 100%
}

.stats {
  margin: 0px;
  padding: 0px;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
}

.proc {
  background-image: url("https://aemstatic-ww1.azureedge.net/content/pe/en/articles/2015/10/development-of-flating-nuclear-smr-in-china-in-the-works/_jcr_content/leftcolumn/article/headerimage.img.jpg/1445635200005.jpg");
  background-repeat: no-repeat;
  background-color: red;
}

.roc {
  background-color: red;  
}

.field {
  height: 27.5%;
  width: 100%;
  margin: 0px;
}

.container {
  display: flex;
  align-items: center;
  height: 25%;
  margin: 0px;
  background-color: blue;
}

.pile {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 130px;
  width: 90px;
  border-radius: 9px;
  border: 3px solid white;
}

.hand {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 150px;
}

.discard {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 130px;
  width: 90px;
  border-radius: 9px;
  border: 3px solid black;
  background-color: white;
}

.opp-slots {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 150px;
}

.opp-slot {
  display: flex;
  justify-content: center;
  height: 130px;
  width: 90px;
  border-radius: 9px;
  border: 3px solid white;
}

.slots {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
}

.slot {
  display: flex;
  justify-content: center;
  height: 130px;
  width: 90px;
  border-radius: 9px;
  border: 3px solid white;
}

.card {
  text-align: center;
  height: 130px;
  width: 90px;
  color: white;
  border-radius: 9px;
}

